.git
.idea
.vscode
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.DS_Store
**/*.pyc
**/*.pyo
**/*.egg-info

backend/.venv
backend/app/.venv
backend/knowledge/.venv
backend/app/logs

front/agent_web_ui/node_modules
front/agent_web_ui/dist
front/agent_web_ui/.vite

deploy/env/*.env
